@font-face {
  font-family: "VVDS Fifties SCond SBold";
  src: url("./VVDS-Fifties-SCond-SBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "Helvetica Roman";
    src: url("./Helvetica Roman.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  
@font-face {
  font-family: "RectaMediumCondensed";
  src: url("./assets/RectaMediumCondensed.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
  
.tagline {

    font-family: 'VVDS Fifties SCond SBold', sans-serif;
    transform: translate(-20%, -450%);
    color: white; 

    text-align: left;
    font-size: 100px; 
    text-align: center;
  
    padding: 10px; 
  
 


}

li{
    font-family:monospace;
    padding: 20px;
    font-size: 16px;
   

}

ul{
    margin-left: 540px;
}
.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100%;
  }
  


.brandlogo {
  font-size: 40px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 200px;
}

.navmycss {
  border: solid black 2px;
  background-color: black;
  border-bottom: white 2px solid;
  font-family: 'RectaMediumCondensed';
  
}

.shoe {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.titlecolour{
  color: black;
  margin-top: 10px;
  font-family:'Helvetica Roman';
  font-size: 40px;
  font-weight: bold;



}

.jordan{
  width:100px;
  margin-top: -140px;
  
}

.jordan1{
  width:100px;
  margin-top: 20px;
  
}

.product{

  margin: auto;
  margin-bottom: 100px;
  margin-top: 50px;
  width: 1900px;
  height: fit-content;
  overflow-x: auto;
  display: flex; align-items: center;

  
}
.pimage{
  width: 300px;
}

.clothInfo{
  font-family:'Helvetica Roman' ;
  padding: 20px;
  font-size: 30px;
}

.believe{
  font-family:'Helvetica Roman' ;
  padding: 40px;

  font-size: 20px;
}

.believe1{
  font-family:'Helvetica Roman' ;
  padding: 40px;
  margin: auto;
  margin-top: -80px;


}




.imginfo{
float: left;
border:solid white 6px ;
height: 500px;
margin: 50px;
}

.info1{
  width: 90%;
  height: 500px;
  margin-top: 50px;
  margin-left: 50px;
  background-color: rgba(0, 0, 0, 0.652);
  border-radius: 90px;
  border: #f2f2f2 4px solid;
  text-align: center;

}

.bio{
  color: white;
  margin-top: 60px;
  text-align: justify;
  font-family:'Helvetica Roman' ;
  padding: 40px;

}

.testimonial{
  margin-top: 200px;
  background-color: #f2f2f2;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  margin-bottom: 100px;
}